{
  "extends": "react-app",
  "plugins": [
    "cypress",
    "react-perf"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "max-statements": ["error", 8],
    "max-depth": ["error", 4],
    "max-params": ["error", 3],
    "react/destructuring-assignment": ["error", "always"],
    "react/no-array-index-key": "error",
    "react/jsx-no-bind": "error",
    "react-perf/jsx-no-new-object-as-prop": "error",
    "react-perf/jsx-no-new-array-as-prop": "error"
  }
}
