.button {
  border: 0;
  background: #0271bc;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: 0;
}

.icon {
  display: inline-block;
  background: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  color: black;
  padding: 3px;
}